
.authForm {
    margin: 7px;
    margin-left: 20px;
    padding: 7px;
    font-size: 15px;
}

.auth-form {
    padding: 20px;
    padding-left: 50px;
    font-size: 20px;
    background-color: rgb(226, 214, 198);
}
