
.home-page-styles {
    background-image: url("https://images.pexels.com/photos/1546168/pexels-photo-1546168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Source Serif Pro', serif;
}

.overlay {
    background-color: rgba(248, 236, 220, .35);
    height: 100vh;
}

.title-header {
    text-align: center;
    font-size: 15vh;
    padding-bottom:50px;
    font-family: 'Source Serif Pro', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.home-carousel {
    background-color: rgb(195, 191, 207);
    height: 400px;
    width: 500px;
    font-family: 'Source Serif Pro', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.spacer-stuff {
    margin: 50px;
    padding: 50px;
}
